:root {
  --primary-color: #2196F3;
  --accent-color: #1976D2;
  --white-color: #FFF;
  --black-color: #111;
  --dark-grey-color: #575757;
  --green-color: #00ad53;
  --red-color: #ff0015;
  --font-family: 'Oswald', sans-serif;
  --font-weight-slim: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700; }

* {
  margin: 0;
  padding: 0; }

*,
*::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-slim);
  line-height: 1.6;
  height: 100vh;
  display: flex;
  letter-spacing: 1px;
  overflow-y: hidden; }

::selection {
  background-color: var(--accent-color);
  color: var(--white-color); }

.navbar {
  flex: 0 0 4.2%;
  min-width: 8rem;
  background: linear-gradient(to bottom, var(--primary-color), var(--accent-color));
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--white-color); }
  .navbar__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .navbar__logo {
    cursor: pointer;
    flex-basis: 9rem;
    align-self: stretch;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem; }
  .navbar__icon {
    height: 4rem;
    width: 4rem;
    margin: .5rem 0;
    fill: var(--white-color); }
  .navbar__user {
    cursor: pointer;
    margin-bottom: 1.5rem;
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--accent-color), 0 0 0 5px var(--white-color); }
  .navbar__version {
    font-weight: var(--font-weight-normal);
    font-size: 1.2rem;
    flex-basis: 3.5rem; }

.crypto-nav {
  flex: 0 1 19.2%;
  min-width: 35rem;
  background: var(--black-color);
  color: var(--white-color);
  padding: 0 3rem 2.5rem;
  display: flex;
  flex-direction: column; }
  .crypto-nav h3 {
    font-size: 1.2rem;
    font-weight: var(--font-weight-normal);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #eee; }
  .crypto-nav__search {
    margin-bottom: 2.5rem;
    position: relative;
    width: 101%;
    margin-left: -.2rem; }
  .crypto-nav .suggestions {
    list-style: none;
    color: var(--white-color);
    position: absolute;
    font-size: 1.5rem;
    z-index: 5;
    width: 100%;
    display: none;
    border-radius: 0 0 2px 2px;
    background: #282828;
    border: 0.5px solid var(--dark-grey-color);
    border-top: 0 solid transparent; }
    .crypto-nav .suggestions:hover {
      display: block; }
    .crypto-nav .suggestions__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: .75rem 0; }
      .crypto-nav .suggestions__item:last-child {
        border-radius: 2px; }
      .crypto-nav .suggestions__item:hover {
        background: rgba(70, 70, 70, 0.95); }
      .crypto-nav .suggestions__item-icon {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin: 0 1.55rem; }
  .crypto-nav__input {
    font-family: var(--font-family);
    font-size: 1.7rem;
    color: #ddd;
    border: 0.5px solid var(--dark-grey-color);
    background-color: rgba(255, 255, 255, 0.05);
    padding: .7rem 1rem .9rem 5rem;
    width: 100%;
    border-radius: 2px;
    transition: all .3s ease; }
    .crypto-nav__input:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 2px 2px 0 0; }
    .crypto-nav__input:focus + .suggestions {
      display: block; }
    .crypto-nav__input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .crypto-nav__input::-webkit-input-placeholder {
      font-size: 1.8rem;
      font-weight: var(--font-weight-normal);
      color: var(--dark-grey-color);
      letter-spacing: 3px;
      transition: all .3s ease; }
  .crypto-nav__button {
    position: relative;
    top: 3.7rem;
    left: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transform: translate(3px, -1px); }
    .crypto-nav__button:focus {
      outline: none; }
  .crypto-nav__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--dark-grey-color); }
  .crypto-nav .balance {
    margin: .5rem 0 1.4rem; }
    .crypto-nav .balance__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: var(--font-weight-normal);
      padding: 1rem 0 1.5rem;
      border-bottom: 1px solid rgba(120, 120, 120, 0.5); }
    .crypto-nav .balance__total {
      font-size: 3.7rem;
      font-weight: var(--font-weight-slim);
      letter-spacing: 3px; }
    .crypto-nav .balance__percentage {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      position: relative; }
      .crypto-nav .balance__percentage::after {
        content: "";
        display: block;
        position: absolute;
        left: -1.5rem;
        top: 55%;
        border: .45rem solid transparent; }
      .crypto-nav .balance__percentage.up {
        color: var(--green-color); }
      .crypto-nav .balance__percentage.down {
        color: var(--red-color); }
      .crypto-nav .balance__percentage.up::after {
        transform: rotate(180deg) translateY(85%);
        border-top-color: var(--green-color); }
      .crypto-nav .balance__percentage.down::after {
        transform: rotate(0) translateY(-25%);
        border-top-color: var(--red-color); }
  .crypto-nav .favourite-currencies, .crypto-nav .other-currencies {
    margin: 1.4rem 0;
    font-size: 1.8rem;
    font-weight: var(--font-weight-slim);
    color: var(--white-color); }
    .crypto-nav .favourite-currencies__list, .crypto-nav .other-currencies__list {
      margin: 2rem 0 0 -.25rem;
      width: 107%;
      list-style: none;
      flex-direction: column;
      padding-right: 1.25rem;
      height: 36rem;
      overflow-y: scroll; }
      .crypto-nav .favourite-currencies__list::-webkit-scrollbar, .crypto-nav .other-currencies__list::-webkit-scrollbar {
        width: .7rem; }
      .crypto-nav .favourite-currencies__list::-webkit-scrollbar-thumb, .crypto-nav .other-currencies__list::-webkit-scrollbar-thumb {
        background: var(--dark-grey-color);
        border-radius: 2px;
        visibility: hidden;
        transition: all .3s ease; }
      .crypto-nav .favourite-currencies__list:hover::-webkit-scrollbar-thumb, .crypto-nav .other-currencies__list:hover::-webkit-scrollbar-thumb {
        visibility: visible; }
  .crypto-nav .other-currencies__list {
    height: 17.5rem; }
  .crypto-nav .add-btn {
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: var(--font-weight-slim);
    margin-top: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 3px;
    letter-spacing: 4px;
    color: #ccc;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all .3s ease; }
    .crypto-nav .add-btn:focus {
      outline: none; }
    .crypto-nav .add-btn:hover {
      background: rgba(255, 255, 255, 0.03); }
    .crypto-nav .add-btn:active {
      transform: scale(0.99); }

.currency {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  padding: .75rem 0;
  cursor: pointer; }
  .currency:hover .currency__coin {
    transform: translateX(0.25rem);
    transition: all .2s linear; }
  .currency:hover .currency__coin > .currency__coin-icon {
    transform: scale(1.15);
    transition: all .2s linear; }
  .currency:not(:last-child) {
    border-bottom: 1px solid rgba(120, 120, 120, 0.5); }
  .currency:first-child {
    padding: 0 0 .75rem; }
  .currency:last-child {
    padding: .75rem 0 0; }
  .currency__coin {
    color: var(--white-color);
    display: flex; }
    .currency__coin-icon {
      margin-right: 1.2rem;
      align-self: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%; }
    .currency__coin-name {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      font-weight: var(--font-weight-slim); }
      .currency__coin-name .name {
        text-transform: capitalize;
        font-size: 1.7rem;
        position: relative; }
        .currency__coin-name .name::after {
          content: "";
          display: block;
          position: absolute;
          right: -1.8rem;
          top: 50%;
          border: .5rem solid transparent; }
      .currency__coin-name .symb {
        flex-basis: 100%;
        font-size: 1.2rem;
        font-weight: var(--font-weight-bold);
        color: #757575; }
    .currency__coin-details {
      text-align: right; }
      .currency__coin-details .price {
        font-size: 1.5rem; }
      .currency__coin-details .percentage {
        font-size: 1.2rem;
        font-weight: var(--font-weight-normal); }
  .currency.up > .currency__coin .currency__coin-name .name::after {
    transform: rotate(180deg) translateY(70%);
    border-top-color: var(--green-color); }
  .currency.down > .currency__coin .currency__coin-name .name::after {
    transform: rotate(0) translateY(0);
    border-top-color: var(--red-color); }
  .currency.up > .currency__coin-details > .percentage {
    color: var(--green-color); }
  .currency.down > .currency__coin-details > .percentage {
    color: var(--red-color); }

.dashboard {
  color: #212121;
  flex: 1 2 58.6%;
  min-width: 75rem;
  align-self: stretch;
  height: 100vh;
  background: var(--white-color);
  box-shadow: inset -1px 0 3px rgba(189, 189, 189, 0.5); }
  .dashboard__top {
    padding: 0 2rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight-normal); }
  .dashboard__currency-name {
    display: flex;
    align-items: center;
    font-size: 3.2rem; }
    .dashboard__currency-name > * {
      margin: 0 .5rem;
      font-weight: var(--font-weight-slim); }
    .dashboard__currency-name__icon {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%; }
    .dashboard__currency-name__name {
      color: inherit;
      text-decoration: none; }
    .dashboard__currency-name__symbol {
      color: #aaa; }
  .dashboard__button, .dashboard__fiat {
    cursor: pointer;
    background: transparent;
    margin: 0 .8rem;
    padding: .8rem 2.2rem;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 1px rgba(10, 10, 10, 0.3), 0 1px 1px rgba(10, 10, 10, 0.3); }
    .dashboard__button:focus, .dashboard__fiat:focus {
      outline: none; }
    .dashboard__button.active, .dashboard__fiat.active {
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 var(--primary-color);
      text-shadow: 0 1px 0 var(--accent-color);
      color: var(--white-color);
      background: var(--primary-color);
      box-shadow: inset 0 1px 0 0 var(--primary-color), 0 0 1px rgba(10, 10, 10, 0.3); }
  .dashboard__fiat {
    position: relative;
    padding: .8rem 2.5rem .8rem 1.5rem;
    transition: all .3s; }
    .dashboard__fiat::after {
      content: "";
      display: block;
      border: .35rem solid transparent;
      border-top-color: inherit;
      position: absolute;
      top: 50%;
      right: 15%;
      transform: rotate(0) translate(0, -25%);
      transition: all .3s; }
    .dashboard__fiat.shown {
      border-radius: 3px 3px 0 0;
      color: var(--white-color);
      background: var(--primary-color);
      text-shadow: 0 1px 0 var(--accent-color);
      box-shadow: inset 0 1px 0 0 var(--primary-color), inset 0 1px 0 0.5px rgba(10, 10, 10, 0.1); }
      .dashboard__fiat.shown::after {
        transform: rotate(180deg) translate(0, 70%); }
    .dashboard__fiat.shown > .dashboard__fiat-list {
      opacity: 1;
      transform: scaleY(1);
      z-index: 2; }
    .dashboard__fiat-list {
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: none;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      background: #fff;
      transition: all .3s .1s ease;
      border-radius: 0 0 3px 3px;
      box-shadow: inset 0 -1px 0.5px rgba(10, 10, 10, 0.3), inset 0 0 0 0.5px rgba(10, 10, 10, 0.3); }
      .dashboard__fiat-list__item {
        color: var(--dark-grey-color);
        text-shadow: none;
        padding: .7rem 0; }
        .dashboard__fiat-list__item:last-child {
          border-radius: 0 0 3px 3px; }
        .dashboard__fiat-list__item:hover {
          background: var(--accent-color);
          color: var(--white-color); }
  .dashboard .chart {
    height: 89vh;
    margin: 0 1rem;
    position: relative; }
    .dashboard .chart .tooltip {
      white-space: nowrap;
      pointer-events: none;
      position: absolute;
      display: none;
      background: #4d4d4d;
      font-weight: var(--font-weight-bold);
      color: var(--white-color);
      text-align: center;
      height: 2rem;
      line-height: 2rem;
      padding: 0 1rem;
      transition: all .08s ease; }
      .dashboard .chart .tooltip.shown {
        display: inline-block; }
      .dashboard .chart .tooltip-line {
        display: none;
        pointer-events: none;
        position: absolute;
        border: .5px solid transparent;
        transition: all .08s ease; }
        .dashboard .chart .tooltip-line.shown {
          display: inline-block; }
      .dashboard .chart .tooltip-price, .dashboard .chart .tooltip-y {
        clip-path: polygon(5% 0%, 90% 0, 100% 50%, 90% 100%, 5% 100%);
        transform: translate(-50%, -50%);
        border-radius: 3px; }
      .dashboard .chart .tooltip-price {
        transition: none;
        padding: 0 1rem;
        font-weight: var(--font-weight-normal);
        height: 1.8rem;
        line-height: 1.8rem; }
        .dashboard .chart .tooltip-price-line {
          transition: none;
          background-image: linear-gradient(to right, #4d4d4d 60%, transparent 0%);
          background-position: bottom;
          background-size: 4px 1px;
          background-repeat: repeat-x; }
      .dashboard .chart .tooltip-y {
        z-index: 2; }
        .dashboard .chart .tooltip-y-line {
          background-image: linear-gradient(to right, #4d4d4d 60%, transparent 0%);
          background-position: bottom;
          background-size: 7px 1px;
          background-repeat: repeat-x; }
      .dashboard .chart .tooltip-x {
        border-radius: 2px; }
        .dashboard .chart .tooltip-x-line {
          background-image: linear-gradient(#4d4d4d 60%, transparent 0%);
          background-position: right;
          background-size: 1px 7px;
          background-repeat: repeat-y; }

.info-nav {
  flex: 0 1 18%;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.5rem rgba(150, 150, 150, 0.3); }
  .info-nav .info {
    white-space: nowrap;
    flex: 1 1;
    background: var(--white-color);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    color: #212121;
    font-weight: var(--font-weight-normal); }
    .info-nav .info__info-heading {
      font-size: 3rem;
      font-weight: var(--font-weight-slim); }
    .info-nav .info__currency-price {
      flex: 0 0 16%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem; }
      .info-nav .info__currency-price__percentage {
        display: flex;
        align-items: center;
        position: relative; }
        .info-nav .info__currency-price__percentage::after {
          content: "";
          display: block;
          position: absolute;
          left: -1.3rem;
          top: 45%;
          border: .45rem solid transparent;
          border-top-color: inherit; }
        .info-nav .info__currency-price__percentage.down {
          color: var(--red-color); }
        .info-nav .info__currency-price__percentage.up {
          color: var(--green-color); }
        .info-nav .info__currency-price__percentage.up::after {
          transform: rotate(180deg) translateY(70%); }
        .info-nav .info__currency-price__percentage.down::after {
          transform: rotate(0) translateY(0); }
      .info-nav .info__currency-price__fiat-price {
        font-size: 4rem;
        font-weight: var(--font-weight-slim); }
      .info-nav .info__currency-price__btc {
        color: rgba(100, 100, 100, 0.66); }
        .info-nav .info__currency-price__btc-percentage.down {
          color: var(--red-color); }
        .info-nav .info__currency-price__btc-percentage.up {
          color: var(--green-color); }
    .info-nav .info__currency-info {
      flex: 1 1;
      list-style: none;
      font-weight: var(--font-weight-bold); }
    .info-nav .info__item {
      padding: .5rem 0; }
    .info-nav .info__item:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 1.3rem 0; }
    .info-nav .info__heading {
      color: #757575;
      font-size: 1.2rem;
      font-weight: var(--font-weight-normal);
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: .5rem; }
    .info-nav .info__value {
      font-size: 2.5rem;
      font-weight: 100; }
  .info-nav .upgrade {
    flex: 0 0 20rem;
    background: radial-gradient(var(--accent-color), var(--primary-color));
    color: var(--white-color);
    padding: 3rem;
    position: relative;
    letter-spacing: 1.5px; }
    .info-nav .upgrade__heading {
      font-weight: var(--font-weight-normal);
      font-size: 3rem;
      margin-bottom: 1rem; }
    .info-nav .upgrade__features {
      list-style: none;
      font-size: 1.3rem;
      font-weight: var(--font-weight-slim); }
    .info-nav .upgrade__item {
      margin-top: .5rem; }
    .info-nav .upgrade__btn {
      cursor: pointer;
      position: absolute;
      bottom: 3rem;
      right: 3rem;
      height: 5rem;
      width: 5rem;
      background: var(--white-color);
      border: none;
      border-radius: 50%;
      transition: all .3s ease;
      box-shadow: inset 0 -0.5rem 0.8rem rgba(0, 0, 0, 0.4), 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5), 0 0 0 1.2rem var(--primary-color); }
      .info-nav .upgrade__btn:focus {
        outline: none; }
      .info-nav .upgrade__btn:active {
        transform: scale(0.95);
        box-shadow: inset 0 -0.3rem 0.8rem rgba(0, 0, 0, 0.4), 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5), 0 0 0 1.4rem var(--primary-color); }
    .info-nav .upgrade__icon {
      width: 3rem;
      height: 3rem;
      fill: var(--accent-color);
      transform: translate(15%, 15%); }
